.container {
  width: 100%;
}

.countries-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.country-search {
  display: flex;
  justify-content: space-between;
  margin: 25px 25px 50px;
}
