.country-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.country-details-container {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.img {
  width: 500px;
}

.details {
  text-align: left;
}

.details-wrapper {
  display: flex;
  line-height: 1.8;
}

.country-details-headings {
  margin-right: 100px;
}

.border-countries {
  margin-top: 60px;
}

Link {
  text-decoration: none;
}

.span {
  font-weight: bold;
}

.bg-lm {
  background-color: #ffffff;
}

.bg-dm {
  background-color: #2b3743;
}

.lm-text {
  color: #000000;
}

.dm-text {
  color: #ffffff;
}
