.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 20px 45px;
}

.btn {
  cursor: pointer;
}

.btn-transparent {
  background-color: transparent;
  border: none;
  outline: none;
}

.bg-lm {
  background-color: #ffffff;
}

.bg-dm {
  background-color: #2b3743;
}

.lm-text {
  color: #000000;
}

.dm-text {
  color: #ffffff;
}

@media (max-width: 48rem) {
}
