.card-btn {
  width: 320px;
  margin-bottom: 40px;
  border: 0.1px transparent solid;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
}

.solid-dark {
  border: 0 0.1px transparent solid;
  background-color: #fff;
}

Link {
  text-decoration: none;
}

.flag {
  width: 300px;
  height: 200px;
}

.countries-top-details {
  text-align: left;
  margin: 20px 0 30px 20px;
  line-height: 1.5;
}

.countries-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-btn:hover {
  width: 320px;
  border-bottom-right-radius: 10px;
}

.lm:hover {
  border: 0.1px #ffffff solid;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
}

.dm:hover {
  border: 0.1px rgb(37, 117, 117) solid;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
}

.bg-lm {
  background-color: #ffffff;
}

.bg-dm {
  background-color: #2b3743;
}

.lm-text {
  color: #000000;
}

.dm-text {
  color: #ffffff;
}
